body{background-color: rgb(248, 248, 255);}
            h1{text-align: center;
            color: rgb(196, 97, 58);}
            p{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: rgb(33, 33, 33);
        font-size: 20px;}