.pp{border-style: dotted solid double inset;
                border-width: px;
            }
            .pi{
                border-left: 10px  inset red;
                background-color: grey;
            }
            .H2{border: 15px solid red;
            padding: 22px;}
            .ch{border: 5px solid rgb(255, 128, 0);
            border-radius: 55px;
        padding: 5px;}
