             p.ol{border:1px solid red}
            h1.hh{border-style: dotted;}
            p.n2{border-style: double;}
            p.mm{border-style: groove;}
            p.kk{border-style: hidden;}
            p.ll{border-style: inset;}
            #para{border-style: solid;}
            .one{border-style:solid;
            border-width: 5px;}

            .two{border-style: solid;
                border-width: 10px 70px;
                text-align: center;
            }

            .three{border-style: dotted;
                   border-width: 1px;
            }
            .vv{border-style: dotted;
                   border-width: thick;}
            .four{border-style: double;
                   border-width: 15px;}
         .five{border-style: double;
                   border-width: thick;}
                   .one{
                border-style: solid;
                border-color: brown;
                border-width: 10px;
                
              }
              .qq{border-style: solid;
            border-color: red blue green yellow;
        }
        .oo{border-style: dotted;
            border-color: #ff6690;
        }
        .aa{border-style: solid;
        border-color:hsl(0, 100%, 0%)}
div{background-color: green;}